
.idea/workspace.xml

.idea/vcs.xml

*.pyc

.idea/inspectionProfiles/Project_Default.xml

.idea/inspectionProfiles/profiles_settings.xml

.idea/misc.xml

.idea/modules.xml

.idea/self-service-demo.iml

db_repository/__init__.py

db_repository/manage.py

db_repository/migrate.cfg

db_repository/README

db_repository/versions/__init__.py

*.db
