<div class="home-banner">
    <div class="container">
	  <div class="row">
	  <div class="center-container">
{% if not session['logged_in'] %}
    <p>You must <a href="/">log in</a> to view account information</p>
    </div>
      </div>
    </div>
</div>
{% else %}
     <!-- Begin Account Body -->
	<div class="login">
		<div class="login-screen" style="color: #777">
			<div class="app-title">
				<h2 style="color: #777">Admin Screen</h2>
			</div>
			<div class="login-form">
                <hr>
                {% for item in serverValues %}
                      <table>
                          <tr>
                       <form action="/admin" method="POST">
                         <input type="hidden" value="{{ item.id }}" name="id">
                        <div class="control-group">
                         <td align="right"><label class="login-field-icon fui-user" for="envName"><b>Environment Name: </b></label></td><td>&nbsp;</td><td align="left"><input type="text" class="login-field" value="{{ item.envName }}" placeholder="Environment Name" name="envName"></td>
				        </div>
                       </tr>
                         <tr>
                          <div class="control-group">
                         <td align="right"><label class="login-field-icon fui-user" for="prodURL"><b>Environment Base URL: </b></label></td><td>&nbsp;</td><td align="left"><input type="text" class="login-field" value="{{ item.prodURL }}" placeholder="Base URL for Production" name="prodURL"></td>
                        </div>
                         </tr>
                          <tr>
                           <div class="control-group">
                               <td align="right"><label class="login-field-icon fui-user" for="apiKey"><b>API Key: </b></label></td><td>&nbsp;</td><td align="left"><input type="text" class="login-field" value="{{ item.apiKey }}" placeholder="API provided by your Admin" name="apiKey"></td>
                        </div>
                          </tr>
                          <tr>
                           <div class="control-group">
                               <td align="right"><label class="login-field-icon fui-user" for="accountID"><b>Account ID: </b></label></td><td>&nbsp;</td><td align="left"><input type="text" class="login-field" value="{{ item.accountID }}" placeholder="Use this Account ID" name="accountID"></td>
                        </div>
                          </tr>
                          <tr>
                              <td>
                              <br>
                              </td>
                          </tr>
                          <tr>
                           <td align="center" colspan="3"><input type="submit" value="Update Environment" class="out-btn" ></td>
                              </tr>

                              </form>
                       </table>
                           <hr>
                    {% endfor %}
			</div>
		</div>
	</div>
    <!-- End Account Body -->

      </div>
      </div>
    </div>
</div>
{% endif %}
