	<!-- Home Banner -->
	<div class="home-banner">
	  <div class="img-right pull-right">
	  <img src="/static/images/banner1.jpg" atl="Picture of Billing"></div>
      <div class="container">
	  <div class="row">
	  <div class="col-sm-6 left-block">
	  <h1>Intelligent Billing - Self Service Ease</h1>
	  <p>Intuitive, interactive billing screens that present a complete end-customer solution from profile to invoices, account updates and queries on outstanding balances. Intelligent Billing doesn't have to be hard.</p>
	  <a class="out-btn" href="/about">Find Out More</a>
	  </div>
	  </div>
	  </div>
	  </div>
	  <!-- End Home Banner -->