<!doctype html>
<html>
	<head>
		<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<div class="header">
				<h3 class="text-muted">JSON responses</h3>
			</div>
			<hr/>
			<div>
				<p>Many times, an API will return a JSON-encoded response. One
				such example is <a href="http://developer.github.com/">GitHub's API</a>.</p>
				<p>To fiddle with a JSON response, requests includes a <code>json()</code>
				method for the response object, which can be acessed like a regular dict:</p>
<pre>
r = requests.get(url, params=params)

data_from_json = r.json()['some_key']
</pre>
			</div>
			<div class="well">
<pre>
import requests
import json

url = 'https://api.github.com/users/runnable'

r = requests.get(url)

print json.dumps(r.json(), indent=4)
</pre>
				<button class="btn" onclick="execute_get();">Execute sample</button>
				<div class="well"><pre id="sample-result-get"></pre></div>
			</div>
			<div class="header">
				<h3 class="text-muted">POST'ing JSON</h3>
			</div>
			<hr/>
			<div>
				<p>Sending a JSON payload is very similar to sending a regular
				body with the POST request, but unfortunately requests can't
				determine the correct <code>Content-Type</code> header
				automatically:</p>
<pre>
import json

data = {'first': False, 'second': True}
headers = {'Content-Type': 'application/json'}

r = requests.post(url, data=json.dumps(data), headers=headers)
</pre>
			</div>
			<div class="well">
<pre>
url = 'http://httpbin.org/post'
data = {'a': 10, 'b': [{'c': True, 'd': False}, None]}
headers = {'Content-Type': 'application/json'}

r = requests.post(url, data=json.dumps(data), headers=headers)

print json.dumps(r.json(), indent=4)
</pre>
				<button class="btn" onclick="execute_post();">Execute sample</button>
				<div class="well"><pre id="sample-result-post"></pre></div>
			</div>
		</div>
		<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script type="text/javascript">
			function execute_get() {
				$.get('/run_get', function(data) {
					$("#sample-result-get").text(data);
				});
			}
			function execute_post() {
				$.get('/run_post', function(data) {
					$("#sample-result-post").text(data);
				});
			}
		</script>
	</body>
</html>